﻿@model List<СurrencyExchange.ViewModels.CurrencyValueViewModel>
@{
	Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<script src="~/Scripts/jquery-3.0.0.min.js"></script>
	<script src="~/Scripts/resultHandler.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
</head>
<body>
	<div>
		<div class="container">
			<div class="row">
				<div class="col d-flex justify-content-center flex-wrap">
					@{
						List<SelectListItem> listItems = new List<SelectListItem>();
						foreach (var item in Model)
						{
							@*@ObjectInfo.Print(item.Currency);*@
							listItems.Add(new SelectListItem
							{
								Value = item.Currency.ToString(),
								Text = item.CurrencyName,
							});
						}

					}
					@Html.DropDownList("FromСourse",
					new SelectList(listItems, "Value", "Text"),
					new { @id = "from" })
					<input type="number" id="value" name="inputValue" size="10" class="text-center">
					@Html.DropDownList("ToСourse",
					new SelectList(listItems, "Value", "Text"),
					new { @id = "to" })
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="col-sm">
				<button type="button" style="height:50px;width:100px" class="btn-dark" id="result" onclick="currencyResult(this)" data-assigned-id="@Model.FirstOrDefault(x => x.IsBaseConvertCurrency == true).CurrencyName">Result</button>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="row">
			<div class="col-sm">
				<div>
					<output id="resultValue" name="resultValue">Result</output>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
